includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        -
            identifier: missingType.iterableValue

    # Uncomment and adjust the following lines if needed
    # excludePaths:
    #     - ./*/*/FileToBeExcluded.php
