includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 7


    ignoreErrors:
    # This is a particularly nasty error and I couldn't manage to resolve it (nicely)..
        - '#Cannot call method isoFormat\(\) on (.*)Carbon(.*)string#'

    treatPhpDocTypesAsCertain: false
